<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ImagesDao">
<select id="getListAll"  resultType="Images">
select * from edu_website_images where type_id=1
</select>
</mapper>